---
layout: default
---

<!-- about.html -->
<div class="post">
  <div class="d-flex align-items-center mb-4">
    <div class="flex-grow-1 d-flex align-items-center justify-content-start" style="min-height: 150px;">
      <div>
        <h1 class="post-title mb-2">{{ page.title }}</h1>
        <p class="post-description mb-0">{{ page.description }}</p>
      </div>
    </div>
    <div class="ms-4" style="max-width: 230px; flex-shrink: 0;">
      {% if page.picture -%}
      <img class="profile-photo mr-5" src="/assets/img/{{page.picture}}" alt="Portrait ({{page.name}})">
      {%- else -%}
      <img class="profile-photo" src="/assets/img/people-default.jpg" alt="Portrait ({{page.name}})">
      {%- endif -%}
      
      {% if page.social %}
      <div class="text-center mt-3">
        {% include social_profiles.html %}
      </div>
      {% endif %}
    </div>
  </div>
  
  {{ content }}

  <div class="social">
    <div class="contact-icons">
      {% include social_profiles.html %}
    </div>
  </div>
</div>