---
layout: default
---

<!-- about.html -->
<div class="post">
  <div class="d-flex align-items-center mb-4">
    <div class="flex-grow-1 d-flex align-items-center justify-content-start" style="min-height: 150px;">
      <div>
        <h1 class="post-title mb-2">{{ page.title }}</h1>
        {%- if page.research_interests %}
        <div class="research-interests mt-2">
          {%- for interest in page.research_interests %}
          <span class="badge badge-primary">{{ interest }}</span>
          {%- endfor %}
        </div>
        {%- endif %}
      </div>
    </div>
    <div class="ms-4" style="max-width: 230px; flex-shrink: 0;">
      {% assign photo = page.picture | default: page.img -%}
      {% if photo -%}
      {% assign photo_path = photo | remove_first: "/assets/img/" | prepend: "/assets/img/" -%}
      <img class="profile-photo mr-5" src="{{ photo_path }}" alt="Portrait ({{page.name}})">
      {%- else -%}
      <img class="profile-photo" src="/assets/img/people-default.jpg" alt="Portrait ({{page.name}})">
      {%- endif -%}
      
      {% if page.social %}
      <div class="text-center mt-3">
        {% include social_profiles.html %}
      </div>
      {% endif %}
    </div>
  </div>
  
  {{ content }}

  <div class="social">
    <div class="contact-icons">
      {% include social_profiles.html %}
    </div>
  </div>
</div>
